*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   background-color: #ffce50;
   font-family: Arial, "微軟正黑體", Helvetica, sans-serif;
   font-size: 20px;
   line-height: 1.5;
}

* {
   margin: 0;
   padding: 0;
   font: inherit
}

img {
   max-width: 100%;
}

header {
   width: 100%;
   height: 100vh;
   position: relative;
   display: flex;
   z-index: 1;
   overflow: hidden;
}


header .avatar {
   height: 90vh;
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 4;
   margin-left: 5%;
}

#title {
   z-index: 3;
   position: absolute;
   transform: translate(0, -50%);
   right: 0;
   top: 50%;
   width: 45%;
   background-color: rgb(256, 256, 256, 0.5);
   padding: 1em;
   box-shadow: 0 0 20px 20px rgb(256, 256, 256, 0.5);
}

h1 {
   font-size: 5em;
   max-width: 40vw;
   word-wrap: break-word;
   word-break: break-all;
   hyphens: auto;
   margin-bottom: 0;
   line-height: 1;
   margin-bottom: 10px;
}

.t2022 {
   line-height: 1;
   position: absolute;
   color: rgb(181, 181, 181, .3);
   right: 0;
   top: 0;
   font-size: 7em;
   z-index: 5;
   --animate-delay: 2s;
   font-family: monospace;
   opacity: 0.6;
}
.social{
   display:flex;
   align-items: center;
   gap: 0.4em;
}
.social img {
   display: inline-block;
   height: 1em;
}

main {
   width: 100%;
   overflow: hidden;
   position: relative;
   z-index: 5;
}

.container {
   width: 1200px;
   max-width: 94%;
   margin: 0 auto;
   padding: 2em 0;
}

figure img {
   max-height: 90vh;
   border-radius: 5px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

figure{
   width: 100%;
   margin:0 0 2em 0;
   text-align:center
}
figcaption{
   margin-top: 0.5em;
   font-size: 1.5em;
}

footer {
   text-align: center;
   padding: 1em;
   background-color: #ffce50;
}

figcaption,
footer,
footer a {
   text-decoration: none;
  color: #FFF;
}

@media (max-aspect-ratio: 4/3) {
   header .avatar {
      max-height: 60vh;
      object-fit: cover;
   }

   #title {
      left: 1em;
      top: 1em;
      width: 100%;
      align-items: start;
      display: block;
   }

   h1 {
      max-width: 80%;
      font-size: 3em;
   }
}

/* Menu */

#menu {
   z-index: 10;
 }
 
 #menu-bar {
   width: 45px;
   height: 40px;
   margin: 30px 0 20px 20px;
   cursor: pointer;
 }
 
 .bar {
   height: 5px;
   width: 100%;
   background-color: #DC052D;
   display: block;
   border-radius: 5px;
   transition: 0.3s ease;
 }
 
 #bar1 {
   transform: translateY(-4px);
 }
 
 #bar3 {
   transform: translateY(4px);
 }
 
 .nav {
   transition: 0.3s ease;
   display: none;
 }
 
 .nav ul {
   padding: 0 22px;
 }
 
 .nav li {
   list-style: none;
   padding: 12px 0;
 }
 
 .nav li a {
   color: white;
   font-size: 20px;
   text-decoration: none;
 }
 
 .nav li a:hover {
   font-weight: bold;
 }
 
 .menu-bg, #menu {
   top: 0;
   left: 0;
   position: fixed;
 }
 
 .menu-bg {
   z-index: 1;
   width: 0;
   height: 0;
   margin: 30px 0 20px 20px;
   background: radial-gradient(circle, #DC052D, #DC052D);
   border-radius: 50%;
   transition: 0.3s ease;
 }
 
 .change {
   display: block;
 }
 
 .change .bar {
   background-color: white;
 }
 
 .change #bar1 {
   transform: translateY(4px) rotateZ(-45deg);
 }
 
 .change #bar2 {
   opacity: 0;
 }
 
 .change #bar3 {
   transform: translateY(-6px) rotateZ(45deg);
 }
 
 .change-bg {
   width: 520px;
   height: 460px;
   transform: translate(-60%,-30%);
 }